<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Iteration Thymeleaf</title>
<link th:href="@{/Css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="container">
   <h1>Employee List</h1>
     <table class="table table-striped">
       <thead>
       <tr>
           <th>Employee Firstname</th>
           <th>Employee Lastname</th>
           <th>Employee Email</th>
       </tr>
       </thead>
       <tbody>
           <tr th:each="employee : ${employees}">
               <td th:text="${employee.firstname}"></td>
               <td th:text="${employee.lastname}"></td>
               <td th:text="${employee.email}"></td>
           </tr>
            
            <tr th:each="employee, stat : ${employees}"
               th:classappend="${stat.even} ? 'table-active'">
               <td th:text="${employee.firstname}"></td>
               <td th:text="${employee.lastname}"></td>
               <td th:text="${employee.email}"></td>
           </tr>
       </tbody>
     </table>
</div>
</body> 
</html>
